body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{font-size:12px; font-family:"微软雅黑";}
input,a{outline:none;}

html,body{
    width:100%;
    height:100%;
}
#tsingli{
    width:100%;
    height:100%;
    overflow: hidden;
}
._contentTop{
    width:60%;
    height: 8%;
    margin:0 auto;
    overflow: hidden;
}
#tsingli #content .contentTop{
    width:60%;
    margin:0 auto;
    overflow: hidden;
}
#tsingli #content #title_list .contentTop{
    width:60%;
    margin:0 auto;
    overflow: hidden;
}
#title{
    height: 100%;
    width:100%;
}
#title p{
    font-size: 22px;
    /* line-height: 75px; */
    width:142px;
    float:left;
    margin-top: 2%;
}
#title #exportBtn{
    width:86px;
    height:25px;
    background: #5B6B7A;
    color: #ffffff;
    text-align: center;
    line-height: 25px;
    float: right;
    margin-top: 25px;
    cursor: pointer;
}
#content{
    height: 90%;
    /* overflow: hidden; */
}
#content ul{
    height:95%;
    overflow-y: auto;
}
/* #content ul::-webkit-scrollbar{
    display:none;
  } */
#content ul li{
    width:100%;
    height: 40px;
    box-sizing: border-box;
}
#content  #title_list{
    width:100%;
    height:40px;
    background: #f4f4f4;
    border-top:1px solid #A0A0A0;
    border-bottom: 1px solid #A0A0A0; 
}

#content ul li:nth-child(odd){background: #ffffff;}
#content ul li:nth-child(even){background:#f4f4f4;}
#content ul li p,#content #title_list p{
    float: left;
    width:20%;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
    line-height: 40px;
}
#content #title_list p:nth-child(1),#content ul li .contentTop p:nth-child(1){
    border-left: 1px solid #E4E4E4;
}
#content #title_list p:nth-child(2),#content ul li .contentTop p:nth-child(2){
    border-left: 1px solid #E4E4E4;
    border-right: 1px solid #E4E4E4;
}
#content #title_list p:nth-child(3),#content ul li .contentTop p:nth-child(3){
    border-right: 1px solid #E4E4E4;
}
#content #title_list p:nth-child(4),#content ul li .contentTop p:nth-child(4){
    border-right: 1px solid #E4E4E4;
}
#content #title_list p:nth-child(5),#content ul li .contentTop p:nth-child(5){
    border-right: 1px solid #E4E4E4;
}
#exportBox{
    width: 560px;
    height: 218px;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -280px;
    margin-top: -109px;
    overflow: hidden;
    background: #F4F5F4;
    display: none;
}
#exportBox ._p{
    height: 44px;
    border-bottom: 1px solid #CECECE;
    font-size: 18px;
    line-height: 44px;
    padding-left: 20px;
}
#exportBox div p{
    font-size: 16px;
    text-align: center;
    margin: 46px 0;
} 
.yesORno{
    width: 102px;
    height: 32px;
    box-sizing: border-box;
    text-align: center;
    line-height: 32px;
    border: 1px solid #5d6d7d;
    border-radius: 4px;
    float: left;
    cursor: pointer;
}
#no{
    color: #5B6B7B;
    margin-left: 158px;
    margin-right: 40px;
}
#yes{
    color: white;
    background: #5B6B7B;
}
